* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: url('/images/newyork.jpg') no-repeat center center fixed;
    background-size: cover; 
}

.container {
    margin: 2em auto;
    width: 40%;
    border: 1px solid #fff;
    border-radius: 20px;
    color: black;
    background-color: #88d6d8;
    box-shadow: 1px 2px 2px #aaa;
}

.top {
    text-align: center;
}

.search-div {
    display: flex;
    margin: 2em;
    border-radius: 20px;
    box-shadow: 1px 2px 2px #aaa;
    height: 3em;
}

.search-input {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 20px;
    margin-right: 3px;
    width: 100%;
    background-color: #bce3db;
    font-size: 15px;
}

.search-btn {
    cursor: pointer;
}

.fa-search-location {
    font-size: 2em;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.bottom {
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #fff;
    padding: 1em;
    color: black;
    box-shadow: 1px 2px 2px #aaa;
    max-height: 30em;
    overflow-y: scroll;
    background-color: #bce3db;
}

.bottom::-webkit-scrollbar {
    width: 5px;
}

.bottom::-webkit-scrollbar-track {
    background: #fff;
}

.bottom::-webkit-scrollbar-thumb {
    background: #bce3db;
}

.bottom::-webkit-scrollbar-thumb:hover {
    background:#bce3db;
}

.bottom-list > ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    cursor: pointer;
}

.active{
    border-bottom: 2px solid #ec6e4c;
}

.content :nth-child(2) > span {
    text-align: center;
}

.back {
    font-size: 1.5em;
    color: #737373;
    display: none;
}

.weather .loader {
    text-align: center;
    margin: 2em;
    font-size: 3em;
}

.content {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 1px 2px 2px #aaa;
}

.content > p {
    display: flex;
    flex-direction: column;
    padding: 0 4px;
}

.content  p:nth-child(1) > span {
    margin: 7px;
}

.history {
    display: none;
}

.history .no-data {
    margin: 0 auto;
    width: 20em;
    display: none;
}

.history .content {
    cursor: pointer;
}

.history .content p > span {
    margin: 6px;
}

.history-details {
    display: none;
}

/* 404 page style */
.not-found {
    margin: 0em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.not-found > div {
    margin: 2em auto;
    
}

.not-found  div > img {
    width: 30em;
}

.not-found > a {
    text-align: center;
    margin: 2em;
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 100%;
        max-height: 100vh;
    }

    .bottom {
        max-height: 100vh;
    }

    .bottom-list > ul{
        display: flex;
        justify-content: space-around;
    }

/* 404 page style */
.not-found > div {
    margin: 0em auto; 
}

.not-found  div > img {
    margin: 6em 0;
    width: 20em;
}

}